<html lang="en"><head>
    <meta charset="UTF-8">
    <title>Login</title>
    <!--    BootStrap Library-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!--    JQuery-->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>

    <!--    Javascript-->
    <!-- <script src="/htmlApi.js"></script> -->

    <!--    Include CSS -->
    <!-- <link href="/meStyleSheet.css" rel="stylesheet"> -->

<style>


</style>
<script>
    function signEvent() {
        const nickname = $('#nickname').val();
        const pw1 = $('#pw1').val();
        const pw2 = $('#pw2').val();
        
        $.ajax({
            type: "POST",
            url: "/api/signUp",
            data: {nickname, pw1, pw2},
            success: function (response) {
                location.href = "/login"
            },
            error: function (error) {
                alert(error.responseJSON.errorMessage);
            },
        });
    }
    if (localStorage.getItem("token")) {
        getSelf(function () {
          alert("이미 로그인이 되어있습니다.");
          window.location.replace("/");
        });
      }

    function getSelf(callback) {
    $.ajax({
        type: "GET",
        url: "/api/users/me",
        headers: {
        authorization: `Bearer ${localStorage.getItem("token")}`,
        },
        success: function (response) {
        callback(response.user);
        },
        error: function (xhr, status, error) {
        if (status == 401) {
            alert("로그인이 필요합니다.");
        } else {
            localStorage.clear();
            alert("알 수 없는 문제가 발생했습니다. 관리자에게 문의하세요.");
        }
        window.location.href = "/";
        },
    });
    }  
</script>
</head>


<body>

<div>
    <div class="card-body">
        <div class="form-group">
            <label for="nickname">Nickname</label>
            <input type="email" class="form-control" id="nickname" aria-describedby="nickname" placeholder="Enter Nickname">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="pw1" placeholder="Password">
        </div>

        <div class="form-group">
            <label for="confirm">Confirm</label>
            <input type="password" class="form-control" id="pw2" placeholder="Confirm">
        </div>

        <button class="btn btn-outline-primary" onclick="signEvent()">회원가입</button>
    </div>
</div>



</body>
</html>